<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinyuan.wordlearning.mapper.UserWordMapper">
    <insert id="batchUpdateStatus">
        insert into user_word(user_id, word_id, status,appear_count)
        values
        <foreach collection="updates" item="item" separator=",">
            (#{userId},#{item.wordId},#{item.status},1)
        </foreach>
        on duplicate key update status = values(status),appear_count = appear_count+1
    </insert>

    <select id="selectByUserAndWord" resultType="com.qinyuan.wordlearning.entity.UserWord">
        select uw.*
        from user_word uw
        inner join word w on uw.word_id = w.id
        where uw.user_id = #{userId} and w.book_id = #{bookId}
    </select>
</mapper>